#container {
  width: 100%;
  height: auto;
  text-align: center;
  float: left;
  position: relative;
}

.row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #afafaf;
}

.name {
  position: relative;
  display: inline-block;
  width: 50%;
  line-height: 45px;
}

.points {
  position: relative;
  display: inline-block;
  width: 50%;
}

.row:nth-child(1) {
  background: black;
  color: white;
}

.row:nth-child(2) {
  background: gold;
}

.row:nth-child(3) {
  background: #c0c0c0;
}

.row:nth-child(4) {
  background: #cd7f32;
}
